<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Loan Details</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <h1>Loan Details</h1>
  <p>Borrower: <%= loan.borrower %></p>
  <p>Amount: $<%= loan.amount %></p>
  <p>Term: <%= loan.term %> months</p>
  <a href="/loans">Back to list</a>
</body>
</html>